<nav class="main-cont">
  <link rel="stylesheet" href="./styles/header.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <div class="logo"><a href="index.html">ALTINIUM</a></div>
  <input type="checkbox" id="click" />
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li><a href="login.html">LOG IN</a></li>
    <li><a href="register.html">REGISTER</a></li>
    <li><img src="./images/wishlist_icon.png" width="17px" alt="" /></li>
  </ul>
</nav>
