* {
  font-family: Poppins, sans-serif;
}
html {
  font-size: 62.5%;
}

#logpage {
  width: 60%;
  height: 50%;

  margin-top: 120px;
  margin-left: 250px;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control label {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
  display: block;
  margin-top: 5px;
}
#checklast {
  font-size: 10px;
}
#fill input {
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 30px;
  padding: 10px 10px 10px 0;
}
h3 {
  font-size: 2.5rem;
}
#email {
  border: 0.01px solid gray;
  margin-top: 10px;
  width: 40%;
  height: 10px;
}

#password {
  border: 0.01px solid gray;
  margin-top: 10px;
  width: 40%;
  height: 10px;
}

#repeatpassword {
  width: 45%;
  height: 10px;
  margin-top: 10px;
  margin-left: 15px;
  border: 0.01px solid gray;
}

#first-name {
  border: 0.01px solid gray;
  margin-top: 10px;
  width: 40%;
  height: 10px;
}

#last-name {
  width: 45%;
  height: 10px;
  margin-left: 15px;
  border: 0.01px solid gray;
}

#bttn button {
  width: 27em;
  height: 2.7em;
  background-color: black;
  color: white;
  margin-top: 25px;
  cursor: pointer;
}
#fb {
  margin-top: 20px;
}
#checkbox {
  display: inline;
  margin: 0;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  #logpage {
    width: 100%;
    height: 50%;

    margin-top: 120px;
    margin-left: 22px;
  }

  #check div {
    margin-left: 2px;
    font-size: 20px;
  }
  #fill {
    margin-top: 40px;
  }
  #fb {
    font-size: 12px;
    margin-top: 30px;
  }
}
