* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla, "Poppins", sans-serif;
}
body {
  background-image: url("../images/background_2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
html {
  scroll-behavior: smooth;
}
video {
  min-width: 100%;
  min-height: 100%;
}
.product {
  position: relative;
  overflow: hidden;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 a {
  width: 10ch;
  font-size: 9rem;
  font-weight: 700;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
  color: rgb(234, 255, 0);
}
h1 a:hover {
  color: #fff;
  transition: 0.5s;
}
footer .container {
  margin-top: 10%;
}
.content p {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 1);
  color: #fff;
}
header nav {
  position: fixed;
}
.content {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding: 100px 0 50px 100px;
  font-size: 7rem;
}
.wrapper .static-txt {
  color: rgb(8, 0, 0);
  font-weight: 700;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 100px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: rgb(235, 255, 0);
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -410px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 2px solid #000000;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.product-category {
  padding: 0 5vw;
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  margin-left: -5%;
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: rgb(227, 227, 227);
  color: #000;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
